:root {
  --main-text-color: #212121;
  --main-text-colorlight: #757575;
  --second-text-color: #2196F3;
  --third-text-color: #FFFFFF;
  --bg-color: #2F303A;
  --bg-colorlight: #F5F4FA;
  --main-color-icon: #AFB1B8;
  --main-font: "Roboto", "Arial", "Impact", sans-serif;
}

.btn, .hero-but-butt, .hero__but {
  display: block;
  color: var(--third-text-color);
  background-color: var(--second-text-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

* {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.top {
  vertical-align: 50%;
}

.top-container {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .top-container {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .top-container {
    height: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mini-menu {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    width: 450px;
    align-items: center;
  }
}

.top-logo {
  font-family: "Raleway", sans-serif;
  color: var(--second-text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  margin-right: 276px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .top-logo {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .top-logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

a.top-logo > span {
  color: var(--main-text-color);
}

.top-menu a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .top-menu a {
    opacity: 0;
  }
}

.top-menu a:hover {
  color: var(--second-text-color);
}

.top-menu a:focus {
  color: var(--second-text-color);
}

.top-list {
  display: flex;
  align-items: center;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .top-list {
    display: none;
  }
}

.top-list-item {
  margin-right: 50px;
}

.top-list-item:last-child {
  margin: 0;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
}

@media screen and (max-width: 1199px) {
  .top-adr > .top-adr-item:last-child > .link {
    margin-bottom: 0px;
  }
}

.current {
  color: var(--second-text-color);
}

.current:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-text-color);
}

.top-adr-social {
  padding-right: 0;
  margin-right: 0;
  margin-left: auto;
}

.top-adr-social .top-adr {
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  .top-adr-social .top-adr {
    display: block;
    align-items: center;
    justify-content: flex-end;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .top-adr-social .top-adr {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.top-adr-social .top-adr-item:not(:last-child) {
  margin-right: 30px;
}

.top-adr-social .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-colorlight);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .top-adr-social .link {
    font-size: 12px;
    line-height: 14.06px;
    margin-bottom: 10px;
  }
}

.top-adr-social .link:hover,
.top-adr-social .link:focus {
  color: var(--second-text-color);
}

.top-adr-social .socials-icons-top {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .top-adr-social .socials-icons-top {
    font-size: 12px;
    line-height: 14.06px;
  }
}

.top-adr-social .socials-icons-top .phone {
  width: 10px;
  height: 16px;
}

.menu-btn {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: transparent;
  border-color: transparent;
  padding: 0px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn__icon {
  width: 40px;
  height: 40px;
}
.menu-btn__icon-open {
  opacity: 1;
  fill: var(--main-text-color);
}
.menu-btn__icon-open:hover {
  fill: var(--second-text-color);
}
.menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
  fill: var(--main-text-color);
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 300ms;
  pointer-events: none;
  background-color: var(--third-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .mobile-overlay {
    display: none;
  }
}
.mobile-overlay.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  background-color: var(--third-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-nav {
  margin-bottom: 302px;
}
.mobile-nav__list {
  padding-left: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: left;
}
.mobile-nav__link {
  color: var(--main-text-color);
}
.mobile-nav__link:hover {
  color: var(--second-text-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-text-colorlight);
}
.mobile-menu__link:hover {
  color: var(--second-text-color);
}
.mobile-menu__link:first-child {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--second-text-color);
}

.socials {
  display: flex;
  padding-left: 0px;
}
.socials__item {
  padding-right: 10px;
}
.socials__item:not(:first-child) {
  padding-left: 10px;
}
.socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.promodemo {
  background-color: white;
  border-top: 1px solid #ECECEC;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .promodemo {
    padding: 60px 0px;
  }
}
.promodemo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promodemo__container-list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .promodemo__container-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
.promodemo__item {
  margin-right: 8px;
  margin-bottom: 50px;
}
.promodemo__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .promodemo__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .promodemo__item {
    margin-bottom: 15px;
  }
}

.promo-titles {
  font-family: var(--main-font);
  background-color: var(--bg-colorlight);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: rgba(255, 255, 255, 0);
  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-titles:hover {
  background-color: var(--second-text-color);
  color: var(--third-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.promo-titles:focus {
  background-color: var(--second-text-color);
  color: var(--third-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.demo__container-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  max-width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .demo__container-list {
    gap: 30px;
  }
}

.demo__item {
  width: 370px;
  background: #FFFFFF;
  transition-property: cursor box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .demo__item {
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__item {
    width: 354px;
    height: 404px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex: 1 1 calc(50% - 30px);
  }
  .demo__item:first-child, .demo__item:first-child + li {
    height: 440px;
  }
  .demo__item:first-child .demo__block, .demo__item:first-child + li .demo__block {
    height: 146px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .demo__item {
    width: 100vw;
    max-width: 450px;
  }
}
.demo__item:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.demo__item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .demo__item:not(:nth-child(3n+3)) {
    margin-right: 0px;
  }
}
.demo__item:not(:nth-child(n+7)) {
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .demo__item:not(:nth-child(n+7)) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__item:last-child {
    width: 354px;
  }
}
.demo__item-pic {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .demo__item-pic {
    width: 100vw;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__item-pic {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .demo__item-pic {
    width: 370px;
    height: 294px;
  }
}

.demo__thumb {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__thumb {
    width: 354px;
  }
}

.demo__descr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 24px;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 3%;
  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
}
@media screen and (min-width: 320px) and (max-width: 380px) {
  .demo__descr {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 3%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__descr {
    width: auto;
  }
}

.demo__thumb:hover .demo__descr {
  transform: translateY(0%);
}

.demo__block {
  border-top: 0px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .demo__block {
    max-width: 100vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__block {
    height: 110px;
    width: auto;
  }
  .demo__block:last-child {
    width: 354px;
  }
}

.demo__titles {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .demo__titles {
    width: 306px;
  }
}

.demo__position {
  color: var(--main-text-colorlight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.btn, .hero-but-butt, .hero__but {
  display: block;
  color: var(--third-text-color);
  background-color: var(--second-text-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  color: var(--third-text-color);
  background-color: var(--bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm@1x.png);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_sm@1x.webp) 1x);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_sm@2x.png);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_sm@2x.webp) 2x);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md@1x.png);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_md@1x.webp) 1x);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_md@2x.png);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_md@2x.webp) 2x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lr@1x.png);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_lr@1x.webp) 1x);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-hero_lr@2x.png);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../images/hero/bg-hero_lr@2x.webp) 2x);
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__but {
  margin: 0 auto;
  line-height: 1.875;
  padding: 8px 30px;
}

.deal {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .deal {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.deal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deal__container-list {
  display: block;
  padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .deal__container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .deal__container-list {
    display: flex;
    padding-left: 0;
  }
}
.deal__pic {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-colorlight);
}
@media screen and (min-width: 1200px) {
  .deal__pic {
    width: 270px;
    height: 120px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.deal__titles {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
}
.deal__article {
  height: 75px;
  color: var(--main-text-colorlight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: right;
  padding-top: 10px;
  margin-bottom: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .deal__article {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .deal__article {
    color: var(--main-text-colorlight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 10px;
  }
}
.deal__icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  fill: var(--main-color-icon);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-item {
    width: 354px;
    height: 251px;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1 1 calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .container-item {
    position: static;
    margin-right: 30px;
  }
}

.container-item:last-child {
  margin-right: 0px;
}

.team {
  background-color: var(--bg-colorlight);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    padding-bottom: 50px;
  }
}

.team-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .team-container-list {
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 0;
  }
}

.teamit {
  width: 450px;
  height: 622px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .teamit {
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teamit {
    width: 354px;
    height: auto;
    flex: 1 1 calc(50% - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1200px) {
  .teamit {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 270px;
    height: auto;
  }
}

.img-teamit {
  display: block;
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .img-teamit {
    width: 100vw;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .img-teamit {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .img-teamit {
    height: 270px;
  }
}

.bot-teamit {
  background-color: var(--third-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .bot-teamit {
    max-width: 100vw;
  }
}
@media screen and (max-width: 1199px) {
  .bot-teamit {
    padding-bottom: 24px;
  }
}

.team-titles {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  text-align: center;
}

.team-position {
  color: var(--main-text-colorlight);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}

.team-social-list {
  display: flex;
  padding-left: 122px;
  padding-right: 122px;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .team-social-list {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-social-list {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team-social-list {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: var(--second-text-color);
}

.team-social-link:focus {
  background-color: var(--second-text-color);
}

.team-social-link:hover > .social-icon {
  fill: var(--third-text-color);
}

.team-social-link:focus > .social-icon {
  fill: var(--third-text-color);
}

.social-icon {
  fill: var(--main-color-icon);
}

.rools {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .rools {
    display: none;
  }
}

.rools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  height: 294px;
}

.rools-container-list-pic {
  position: relative;
  display: flex;
  padding-left: 0;
}

.plashka {
  display: block;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.plashka-txt {
  position: absolute;
  top: 27px;
  color: var(--bg-colorlight);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.plashka-txt:nth-child(1) {
  left: 83px;
}

.plashka-txt:nth-child(2) {
  left: 86px;
}

.plashka-txt:nth-child(3) {
  left: 95px;
}

.clients {
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
  }
}
.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients__title {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    padding-bottom: 30px;
  }
}
.clients__list {
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-bottom: 94px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients__list {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    padding-bottom: 60px;
  }
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--main-color-icon);
  border-style: solid;
  background-color: var --third-text-color;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients__link {
    width: 210px;
    height: 92px;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1 1 calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
    height: 92px;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1 1 calc(33.3333333333% - 30px);
  }
}
.clients__link:hover {
  border-color: var(--second-text-color);
}
.clients__link:focus {
  border-color: var(--second-text-color);
}
.clients__link:hover > .clients__icon {
  fill: var(--second-text-color);
}
.clients__link:focus > .clients__icon {
  fill: var(--second-text-color);
}
.clients__icon {
  fill: var(--main-color-icon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn, .hero-but-butt, .hero__but {
  display: block;
  color: var(--third-text-color);
  background-color: var(--second-text-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.bottom {
  width: inherit;
  color: var(--third-text-color);
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom {
    padding-bottom: 155px;
    height: 603px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom {
    padding-bottom: 130px;
  }
}
.bottom__f_s_containers {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__f_s_containers {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__f_s_containers {
    display: block;
  }
}
.bottom__container {
  display: flex;
  flex-direction: column;
  width: 231px;
  padding-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__container {
    align-items: center;
    width: auto;
    padding: 0px;
  }
}
.bottom__container2 {
  padding-left: 70px;
  padding-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__container2 {
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.bottom__container3 {
  padding-left: 93px;
  padding-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__container3 {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__container3 {
    position: relative;
    top: 60px;
    padding-left: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.bottom__attach {
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 12px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__attach {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__attach {
    padding-top: 5px;
  }
}
.bottom__social-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .bottom__social-list {
    justify-content: center;
  }
}
.bottom__social-item {
  padding-right: 10px;
}
.bottom__social-item:last-child {
  padding-right: 0px;
}
.bottom__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom__social-link:hover {
  background-color: var(--second-text-color);
}
.bottom__social-link:focus {
  background-color: var(--second-text-color);
}
.bottom__social-icon {
  fill: var(--third-text-color);
}
.bottom__logo {
  font-family: "Raleway", sans-serif;
  color: var(--second-text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__logo {
    display: flex;
    align-items: center;
  }
}
.bottom span {
  color: var(--third-text-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom span {
    display: flex;
    align-items: center;
  }
}
.bottom__adr-list {
  padding-left: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__adr-list {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
}
.bottom__adr-item {
  display: block;
}
.bottom__adr-item:nth-last-child(n+2) {
  padding-bottom: 9px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__adr-item:nth-last-child(n+2) {
    padding-bottom: 8px;
  }
}
.bottom__adr-info {
  font-style: normal;
  text-decoration: none;
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__adr-info {
    display: block;
  }
}
.bottom__adr-info:hover {
  color: var(--second-text-color);
}
.bottom__adr-info:focus {
  color: var(--second-text-color);
}
.bottom__adr-c {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__adr-c {
    display: block;
    text-align: center;
  }
}
.bottom__adr-c:hover {
  color: var(--second-text-color);
}
.bottom__adr-c:focus {
  color: var(--second-text-color);
}
.bottom__butt {
  width: 212px;
  display: flex;
  justify-content: end;
  top: 48px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bottom__butt {
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__butt {
    position: relative;
    top: 80px;
    width: 738px;
    height: 50px;
    justify-content: center;
  }
}

.fotter-container {
  display: flex;
  padding-left: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .fotter-container {
    display: block;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .fotter-container {
    display: block;
  }
}

a.bott__logo > span {
  color: var(--third-text-color);
}

.name-lable-bottom {
  position: relative;
}

.name-label-input-bottom {
  border-radius: 4px;
  background-color: var(--bg-color);
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .name-label-input-bottom {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .name-label-input-bottom {
    max-width: 90vw;
    width: 450px;
    margin: 0 auto;
    resize: vertical;
  }
}
@media screen and (min-width: 1200px) {
  .name-label-input-bottom {
    width: 358px;
  }
}

.div-icon-bottom {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 79px;
  height: 50px;
  color: red;
  align-items: center;
  justify-content: center;
}

.input-icon-bottom {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.hero-but-butt {
  position: absolute;
  width: 200px;
  height: 50px;
  line-height: 30px;
  margin-top: 56px;
  padding: 10px 62px 10px 29px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-but-butt {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-but-butt {
    margin-top: 0px;
  }
}

.h-butt {
  display: flex;
  width: 143px;
  justify-content: center;
}

.butt-sing {
  width: 109px;
  height: 30px;
}

.butt-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--bg-colorlight), visibility var(--bg-colorlight);
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 40px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-wrapper {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-wrapper {
    width: 450px;
    height: 609px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-close {
  display: flex;
  width: 11px;
  height: 11px;
  fill: black;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover > .icon-close,
.modal-btn:focus > .icon-close {
  fill: var(--second-text-color);
}

input.name-label-input {
  padding: 8px;
  font-family: inherit;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.name-label {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label:hover > .text-field,
.name-label:focus > .text-field {
  border-color: var(--second-text-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label:hover > .name-label-input,
.name-label:focus > .name-label-input {
  border-color: var(--second-text-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label:hover > .div-icon > .input-icon,
.name-label:focus > .div-icon > .input-icon {
  fill: var(--second-text-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-label-span {
  margin-bottom: 4px;
  font-weight: 400;
  color: var(--main-text-colorlight);
  letter-spacing: 0.01em;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .name-label-span {
    font-size: 12px;
    line-height: 14px;
  }
}

input.name-label-input {
  border-radius: 4px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  input.name-label-input {
    width: 370px;
  }
}

.name-label-input:focus + .div-icon > .input-icon {
  fill: var(--second-text-color);
}

.div-icon {
  display: flex;
  width: 42px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 0;
}

.input-icon {
  position: absolute;
  fill: var(--main-text-color);
}

.text-field {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .text-field {
    width: 370px;
  }
}

.text-field::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit:hover,
.submit:focus {
  background-color: #1976d2;
}

.form_txt {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3%;
  padding-bottom: 12px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .form_txt {
    line-height: 30px;
  }
}

.checkbox-label {
  display: block;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  transition-property: background-color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  background-color: var(--second-text-color);
  border: 0px;
}

.checkbox + .icon > .input-icon {
  width: 16px;
  height: 15px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon > .input-icon {
  fill: var(--bg-colorlight);
  opacity: 1;
}

.txt {
  padding-left: 8.38px;
  color: var(--main-text-colorlight);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .txt {
    font-size: 12px;
    line-height: 14px;
  }
}

.checkbox-label a {
  color: var(--second-text-color);
}/*# sourceMappingURL=main.css.map */