.menu-btn {
    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: transparent;
    outline: transparent;

    &__icon {
        width: 40px;
        height: 40px;

        &-open{
            opacity: 1;
        }

        &-close {
            opacity: 0;
        }
    }
}