.menu-btn {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;
    outline: transparent;
    border-color: transparent;
    padding: 0px;
    z-index: 99;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__icon {
        width: 40px;
        height: 40px;

        &-open {
            opacity: 1;
            fill: var(--main-text-color);
        }

        &-open:hover {
            fill: var(--second-text-color);
        }

        &-close {
            opacity: 0;
        }
    }
}

.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;
    fill: var(--main-text-color);
}
