@import "../utils/btn_placeholder";

.bottom {

    width: inherit;
    color: var(--third-text-color);
    background-color: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding-bottom: 130px;
        height: 603px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 130px;
    }

    &__f_s_containers {
        display: flex;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            justify-content: space-evenly;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 231px;
        padding-right: 0px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            align-items: center;
            width: auto;

            padding: 0px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {

        }

    }

    &__container2 {
        padding-left: 70px;
        padding-right: 0px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-left: 0px;
            padding-right: 0px;
            
            align-items: center;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &__container3 {
        padding-left: 93px;
        padding-right: 0px;

        @media screen and (min-width: 320px) and (max-width: 767px) {

            align-items: center; 

            padding-left: 0px;
            padding-right: 0px;
            
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
            top: 60px;
            padding-left: 0px;
            
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;

        }
    }

    &__attach {
        font-family: var(--main-font);
        font-weight: 700;
        text-transform: uppercase;

        padding-bottom: 20px;
        padding-top: 12px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            text-align: center;

            padding-bottom: 20px;
            padding-top: 60px;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-top: 5px;
        }
        
    }

    &__social-list {
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;

        @media screen and (min-width: 320px) and (max-width: 1199px) {
            justify-content: center;
            
        }
    }

    &__social-item {
        padding-right: 10px;

        &:last-child {
            padding-right: 0px;
        }
    }

    &__social-link {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: var(--second-text-color)
        }

        &:focus {
            background-color: var(--second-text-color)
        }
    }

    &__social-icon {
        fill: var(--third-text-color);
    }

    &__logo {
        font-family: "Raleway", sans-serif;
        color: var(--second-text-color);
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;

        padding-bottom: 20px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            align-items: center;
        }
    }

        & span {
            color: var(--third-text-color);

        @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                align-items: center;
            }
        }

    &__adr-list {
        padding-left: 0;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: inline-block;
            align-items: center;
            justify-content: center;
        }
    }

    &__adr-item {
        display: block;
    }

    &__adr-item:nth-last-child(n+2) {
        padding-bottom: 9px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
        padding-bottom: 8px;        }
    }

    &__adr-info {
        font-style: normal;
        text-decoration: none;
        color: var(--third-text-color);
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
        }
    
        &:hover {
            color: var(--second-text-color);
        }
    
        &:focus {
            color: var(--second-text-color);
        }

    }
    
    &__adr-c {
        font-style: normal;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            text-align: center;
        }

        &:hover {
            color: var(--second-text-color);
        }
    
        &:focus {
            color: var(--second-text-color);
        }
        
    }

    &__butt {
        width: 212px;
        display: flex;
        justify-content: end;
        top: 48px;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            justify-content: center;

            width: auto;
            height: 50px;
            margin-top: 20px;
            }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
            
            top: 80px;
            width: 738px;
            height: 50px;
            justify-content: center;
            
        }
    }
}

.fotter-container {

    display: flex;
    padding-left: 15px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            align-items: center;
        }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        
    }
}

a.bott__logo > span {

    color: var(--third-text-color);
}

.name-lable-bottom {

    position: relative;
}

.name-label-input-bottom {
    
    border-radius: 4px;
    background-color: var(--bg-color);
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--third-text-color);

    @media screen and (min-width: 320px) and (max-width: 479px) {
        margin-left: 15px;
        margin-right: 15px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 90vw;
        width: 450px;
        margin: 0 auto;
        resize: vertical;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.div-icon-bottom {

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    width: 79px;
    height: 50px;
    color: red;
    align-items: center;
    justify-content: center;

}

.input-icon-bottom {

    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}
 
.hero-but-butt {
    @extend .btn;
    position: absolute;
    
    width: 200px;
    height: 50px;
    line-height: 30px;
    margin-top: 56px;
    padding: 10px 62px 10px 29px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        
        display: flex;
        // top: 20px;
        margin-left: auto;
        margin-top: 0px;    
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 0px;
    }
}

.h-butt {

    display: flex;
    width: 143px;
    justify-content: center;
}

.butt-sing {

    width: 109px;
    height: 30px;
}

.butt-svg {

    width: 24px;
    height: 24px;
    margin-left: 10px;
}

