.top {
    vertical-align: 50%;
}

.top-container {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (min-width: 320px) and (max-width: 767px){
        height: 60px;
    }

    @media screen and (min-width: 1200px) {
        height: 80px;
    }
}

.top-logo {
    font-family: "Raleway", sans-serif;
    color: var(--second-text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;

    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;


    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;

    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;

        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;

    }

}

a.top-logo > span {
    color: var(--main-text-color);
}


.top-menu a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width:767px) {
            opacity: 0;;
        }

}

.top-menu a:hover {
    color: var(--second-text-color);
}

.top-menu a:focus {
    color: var(--second-text-color);
}

.top-list {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.top-list-item {
    margin-right: 50px;
}

.top-list-item:last-child {
    margin: 0;
}

.link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--main-text-color);

}
.top-adr > .top-adr-item:last-child > .link {
    @media screen and (max-width: 1199px) {
            margin-bottom: 0px;
        }
}

.current {
    color: var(--second-text-color);
}

.current:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--second-text-color);
}

.top-adr-social {
    padding-right: 0;
    margin-right: 0;
    margin-left: auto;
   
}

.top-adr-social .top-adr {
    display: none;
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;

    @media screen and (min-width: 768px) {
        display: block;
        align-items: center;
        justify-content: flex-end;
        padding-top: 21px;
        padding-bottom: 21px;
        }

    @media screen and(min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.top-adr-social .top-adr-item:not(:last-child) {
    margin-right: 30px;
}

.top-adr-social .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-colorlight);
    font-weight: 500;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(max-width: 768px) {
        font-size: 12px;
        line-height: 14.06px;

        margin-bottom: 10px;
    }
}

.top-adr-social .link:hover,
.top-adr-social .link:focus {
    color: var(--second-text-color);
}

.top-adr-social .socials-icons-top {
    margin-right: 10px;
    fill: currentColor;

    @media screen and(max-width: 768px) {
        font-size: 12px;
        line-height: 14.06px;

        width: 14px;
        height: 10px;
    
    }
}

.top-adr-social .phone {
    width: 10px;
    height: 14px;
}