
.promodemo {
    background-color: white;
    border-top: 1px solid #ECECEC;
   
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        padding: 60px 0px;
    }

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;
   

        &-list {

            display: flex;
            flex-direction: row;
            padding-left: 0;

            @media screen and (min-width: 320px) and (max-width: 767px) {
                flex-wrap: wrap;
                margin-bottom: 40px;
            }
        
        }

    }

    &__item {
        margin-right: 8px;
        margin-bottom: 50px;
    
        &:last-child {
        margin-right: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
        }

    }
}

.promo-titles {

    font-family: var(--main-font);
    background-color: var(--bg-colorlight);
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;

    border-radius: 4px;
    border: rgba(255, 255, 255, 0);

    transition-property: background-color color box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-titles:hover {

    background-color: var(--second-text-color);
    color: var(--third-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.promo-titles:focus {

    background-color: var(--second-text-color);
    color: var(--third-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.demo__container-list {
    
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    max-width: 100%;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        gap: 30px;
    }

}

.demo__item {

    width: 370px;
    background: #FFFFFF;

    transition-property: cursor box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
         width: 354px;
         height: 404px;
         margin-right: 0px;
         margin-bottom: 0px;

        flex: 1 1 calc((100% / 2) - 30px);

        &:first-child, &:first-child + li  {
            height: 440px;

            .demo__block {
                height: 146px;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 100vw;
        width: 450px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &:not(:nth-child(3n+3)) {
        margin-right: 30px;

        @media screen and (min-width: 320px) and (max-width: 1199px) {
            margin-right: 0px;
        }
    }

    &:not(:nth-child(n+7)) {
        margin-bottom: 30px;

        @media screen and (min-width: 320px) and (max-width: 1199px) {
            margin-bottom: 0px;
        }
    }

    &:last-child {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
        }
    }

    &-pic {
        width: 450px;
        height: 294px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
            height: 294px;
        }
    }
}

.demo__thumb {
    position: relative;
    cursor: pointer;

    overflow: hidden;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        
    }
}

.demo__descr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 24px;

    color: var(--third-text-color);
    background-color: rgba(33, 150, 243, 0.9);

    text-align: left;
    font-size: 18px;
    line-height: 1.71;
    letter-spacing: 3%;

    transform: translateY(100%);
    transition: transform;
    transition-duration: 250ms;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: auto;
        
    }
}

.demo__thumb:hover .demo__descr {
    transform: translateY(0%);
}

.demo__block {
    border-top: 0px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 110px;
        width: auto;

    &:last-child {
        width: 354px;
    }
}
}

.demo__titles {
    
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 306px;
    }
}

.demo__position {
    color: var(--main-text-colorlight);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}